table {
    border-collapse: collapse;
    width: 650px;
    text-align: center;
}

th {
    color: black;
    
}

th, td {
    border: 5px solid black;
    padding: 12px;
    background-color: pink;
    font-weight: bold;

}