.card {
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
}

.badge {
  position: absolute;
  top: 12px;
  right: 12px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
}