body {
    background-color: lightgray;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #2a2a3c;
  color: lightgray;
  padding: 15px;
  border-radius: 8px;
  border: 3px solid black;
}

.card:hover {
    background-color: blue;
    color: black;
}