body {
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 24px;
}

.nav {
    background-color: hotpink;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 5px;
}

.login {
  margin-inline-start: auto;
}

a {
    text-decoration: none;
    transition: 1s;
}

a:hover {
    transform: 
    translate(15px)
    rotate(15deg)
}