body {
    background-color: lightgray;
}

.card {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 25px 35px 10px gray;
    max-width: 100%;
    box-sizing: border-box;
}

.card:hover {
    border: 2px dotted black;
}

.card:hover h1 {
    text-decoration: underline;
}

.nappi {
    background-color: gray;
    border-radius: 15px;
    border: 2px solid black;
    color: lightgreen;
    padding: 0.5rem;
    margin: 3rem;
    box-shadow: 0 25px 35px 10px gray;
    box-sizing: border-box;
    
}

.nappi:hover {
    background-color: white;
}

.nappi:focus-visible {
    outline: 3px solid green;
}

.nappi:active {
    transform: rotate(-25deg)
}

.nappi:disabled {
    cursor: not-allowed;
}
