:root {
  --bg: #3b3e46;
  --surface: #10223b;  
  --text: rgb(133, 207, 148);     
  --accent: #5053e9;   
  --danger: #ee2f2f;
  --border: black; 
  --shadow: 0 8px 20px rgba(0, 0, 0, 0.5);  
}

body {
    background: var(--bg);
    color: var(--text)
}

.card {
  background: var(--surface);
  color: var(--text);
  padding: 1rem;
  margin: 1rem;
  border: 2px solid var(--border);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.button {
  background: var(--accent);
  color: var(--text);
  border: 2px solid var(--border);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 1.5s;
  box-shadow: var(--shadow);


}

.button:hover {
    background: var(--text);
    color: var(--accent);
    transform: translate(25px) rotate(-25deg);
    
}


.alert {
  background: var(--surface);
  color: var(--danger);
  border: 2px solid var(--border);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.alert:hover {
    background: var(--danger);
    color: var(--surface);
    border: 2px solid var(--surface);
}