body {
    text-align: center;
    font-family: sans-serif;
    background-color: gray;
}

#pelialue {
    display: block;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 5px solid black;
    background-color: darkblue;
}

button {
    padding: 12px 24px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    background-color: #16a34a;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

button:hover {
    background-color: #15803d;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}
