body {
    background-color: lightgreen;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
}

span {
    color: red
}

section {
    font-family:'Times New Roman', Times, serif;
    background-color: blue;
}

footer {
    font-family: cursive;
    background-color: darkgreen;
}

h2 {
    font-family: monospace;
    background-color: lightblue;
}

ul {
    background-color: violet;
}

ol {
    background-color: greenyellow;
}

picture img {
    max-width: 100%;
}