table {
    border-collapse: collapse;
    width: 650px;
    text-align: center;
}

th {
    border: 5px solid black;
    padding: 12px;
    background-color: gray;
    font-weight: normal;
    color: black;
}

td {
    border: 5px solid black;
    padding: 12px;
    background-color: white;
    font-weight: bold;
    color: black;
}